In [160]:
import pandas as pd 
import numpy as np                        
from sklearn.datasets import load_iris

In [161]:
ir = load_iris()

In [162]:
df = pd.DataFrame(data = ir['data'] , columns = ir['feature_names'])
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [163]:
target = ir.target
target
df['target'] = target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [164]:
df['flower'] = df.target.apply(lambda x:ir.target_names[x])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [165]:
from sklearn.svm import SVC

In [166]:
df.pop('target')

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int32

In [167]:
df.pop('flower')

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: flower, Length: 150, dtype: object

In [168]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [169]:
from sklearn.model_selection import GridSearchCV
clf = GridSearchCV(SVC(gamma = 'auto') , {
    'C' : [1,10,20],
    'kernel' :['rbf' , 'linear']
},cv= 5, return_train_score = False)
clf.fit(df,target)
res = pd.DataFrame(clf.cv_results_)
res[['params' , 'mean_test_score', 'param_C' ,'param_kernel']]

                          params  mean_test_score param_C param_kernel
0      {'C': 1, 'kernel': 'rbf'}         0.980000       1          rbf
1   {'C': 1, 'kernel': 'linear'}         0.980000       1       linear
2     {'C': 10, 'kernel': 'rbf'}         0.980000      10          rbf
3  {'C': 10, 'kernel': 'linear'}         0.973333      10       linear
4     {'C': 20, 'kernel': 'rbf'}         0.966667      20          rbf
5  {'C': 20, 'kernel': 'linear'}         0.966667      20       linear

In [170]:
res

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.001995,0.000631,0.000997,5.091228e-07,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
1,0.001608,0.000798,0.000792,3.959459e-04,1,linear,"{'C': 1, 'kernel': 'linear'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
2,0.001803,0.000403,0.000791,3.957536e-04,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
3,0.002395,0.001355,0.001811,1.175119e-03,10,linear,"{'C': 10, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.966667,1.0,0.973333,0.038873,4
4,0.003190,0.001716,0.001803,1.473870e-03,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.966667,1.0,0.900000,0.966667,1.0,0.966667,0.036515,5
5,0.001993,0.001092,0.001402,1.023337e-03,20,linear,"{'C': 20, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.933333,1.0,0.966667,0.042164,6

In [171]:
clf.best_score_

0.9800000000000001

In [172]:
clf.best_params_

{'C': 1, 'kernel': 'rbf'}

Now to test for different models and parameters

In [173]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB

In [174]:
model_params = {
    'svm':{
        'model' : svm.SVC(gamma = 'auto'),
        'params' : {
            'C' : [1,10,20],
            'kernel' : ['rbf', 'linear']
        }
    },
    'random_forest' : {
        'model' : RandomForestClassifier(),
        'params' : {
            'n_estimators' : [1,5,10]
        }
    },
    'logistic' : {
        'model' : LogisticRegression(solver = 'liblinear' , multi_class = 'auto'),
        'params' : {
            'C' : [1,5,10]
        }
        },
    'gaussianb' :{
        'model' : MultinomialNB(),
        'params' : {
            'alpha' : [10,20,30]
        }
    }
    
}

In [175]:
scores =[]
for model_name ,mp in model_params.items():
    clf = GridSearchCV(mp['model'], mp['params'] ,cv=5,return_train_score=False)
    clf.fit(df,target)
    scores.append({
        'model' : model_name,
        'best_score' : clf.best_score_,
        'best_params':clf.best_params_
    })
    
    result = pd.DataFrame(scores)

In [176]:
result

           model  best_score                best_params
0            svm    0.980000  {'C': 1, 'kernel': 'rbf'}
1  random_forest    0.960000        {'n_estimators': 5}
2       logistic    0.966667                   {'C': 5}
3      gaussianb    0.966667              {'alpha': 10}